In [35]:
import pandas as pd   
import numpy as np

In [36]:
crime=pd.read_csv("/home/hyuksu/projects/ml/project/데이터/범죄율/5대_범죄_발생현황(2024년).csv")
crime

    자치구별(1)  자치구별(2) 2024 2024.1   2024.2 2024.3 2024.4
0   자치구별(1)  자치구별(2)   합계     합계       합계     합계     합계
1   자치구별(1)  자치구별(2)   살인     강도  강간·강제추행     절도     폭력
2   자치구별(1)  자치구별(2)   발생     발생       발생     발생     발생
3        합계      종로구    2      5      209   1183   1366
4        합계       중구    5      5      177   1398   1370
5        합계      용산구   10      4      267   1082   1959
6        합계      성동구    5      3      114    966   1029
7        합계      광진구    2      6      235   1320   1307
8        합계     동대문구    7      4      125   1617   1463
9        합계      중랑구    5      2      143   1437   1582
10       합계      성북구    3      1      146    884   1150
11       합계      강북구    6      -      142    970   1171
12       합계      도봉구    7      -       73    800    861
13       합계      노원구    7      3      146   1508   1437
14       합계      은평구    9      1      132   1517   1558
15       합계     서대문구    3      -      131   1014    906
16       합계      마포구    4      4      503   1471   1909
17       합계      양천구    4      1      109   1518   1368
18       합계      강서구    5      6      271   1670   2056
19       합계      구로구    7      -      186   1572   1613
20       합계      금천구    7      3      129    886    992
21       합계     영등포구   11      6      284   1791   2075
22       합계      동작구    1      1      180   1085   1187
23       합계      관악구    4      3      338   1971   2169
24       합계      서초구   10      5      364   1585   1824
25       합계      강남구   16     17      640   2097   3337
26       합계      송파구    6      3      315   2502   2348
27       합계      강동구    3      4      164   1662   1517

In [37]:
crime=crime.iloc[3:].reset_index(drop=True)
crime

   자치구별(1) 자치구별(2) 2024 2024.1 2024.2 2024.3 2024.4
0       합계     종로구    2      5    209   1183   1366
1       합계      중구    5      5    177   1398   1370
2       합계     용산구   10      4    267   1082   1959
3       합계     성동구    5      3    114    966   1029
4       합계     광진구    2      6    235   1320   1307
5       합계    동대문구    7      4    125   1617   1463
6       합계     중랑구    5      2    143   1437   1582
7       합계     성북구    3      1    146    884   1150
8       합계     강북구    6      -    142    970   1171
9       합계     도봉구    7      -     73    800    861
10      합계     노원구    7      3    146   1508   1437
11      합계     은평구    9      1    132   1517   1558
12      합계    서대문구    3      -    131   1014    906
13      합계     마포구    4      4    503   1471   1909
14      합계     양천구    4      1    109   1518   1368
15      합계     강서구    5      6    271   1670   2056
16      합계     구로구    7      -    186   1572   1613
17      합계     금천구    7      3    129    886    992
18      합계    영등포구   11      6    284   1791   2075
19      합계     동작구    1      1    180   1085   1187
20      합계     관악구    4      3    338   1971   2169
21      합계     서초구   10      5    364   1585   1824
22      합계     강남구   16     17    640   2097   3337
23      합계     송파구    6      3    315   2502   2348
24      합계     강동구    3      4    164   1662   1517

In [38]:
df=crime.rename(columns={
    "자치구별(2)": "구",
    "2024": "살인",
    "2024.1": "강도",
    "2024.2": "강간_강제추행",
    "2024.3": "절도",
    "2024.4": "폭력"
})
df

   자치구별(1)     구  살인  강도 강간_강제추행    절도    폭력
0       합계   종로구   2   5     209  1183  1366
1       합계    중구   5   5     177  1398  1370
2       합계   용산구  10   4     267  1082  1959
3       합계   성동구   5   3     114   966  1029
4       합계   광진구   2   6     235  1320  1307
5       합계  동대문구   7   4     125  1617  1463
6       합계   중랑구   5   2     143  1437  1582
7       합계   성북구   3   1     146   884  1150
8       합계   강북구   6   -     142   970  1171
9       합계   도봉구   7   -      73   800   861
10      합계   노원구   7   3     146  1508  1437
11      합계   은평구   9   1     132  1517  1558
12      합계  서대문구   3   -     131  1014   906
13      합계   마포구   4   4     503  1471  1909
14      합계   양천구   4   1     109  1518  1368
15      합계   강서구   5   6     271  1670  2056
16      합계   구로구   7   -     186  1572  1613
17      합계   금천구   7   3     129   886   992
18      합계  영등포구  11   6     284  1791  2075
19      합계   동작구   1   1     180  1085  1187
20      합계   관악구   4   3     338  1971  2169
21      합계   서초구  10   5     364  1585  1824
22      합계   강남구  16  17     640  2097  3337
23      합계   송파구   6   3     315  2502  2348
24      합계   강동구   3   4     164  1662  1517

In [39]:
crime_df = df[["구", "살인", "강도", "강간_강제추행", "절도", "폭력"]]
crime_df = crime_df.replace("-", 0)
crime_df[["살인", "강도", "강간_강제추행", "절도", "폭력"]] = \
    crime_df[["살인", "강도", "강간_강제추행", "절도", "폭력"]].astype(int)

In [40]:
crime_df.set_index("구",inplace=True)
crime_df

      살인  강도  강간_강제추행    절도    폭력
구
종로구    2   5      209  1183  1366
중구     5   5      177  1398  1370
용산구   10   4      267  1082  1959
성동구    5   3      114   966  1029
광진구    2   6      235  1320  1307
동대문구   7   4      125  1617  1463
중랑구    5   2      143  1437  1582
성북구    3   1      146   884  1150
강북구    6   0      142   970  1171
도봉구    7   0       73   800   861
노원구    7   3      146  1508  1437
은평구    9   1      132  1517  1558
서대문구   3   0      131  1014   906
마포구    4   4      503  1471  1909
양천구    4   1      109  1518  1368
강서구    5   6      271  1670  2056
구로구    7   0      186  1572  1613
금천구    7   3      129   886   992
영등포구  11   6      284  1791  2075
동작구    1   1      180  1085  1187
관악구    4   3      338  1971  2169
서초구   10   5      364  1585  1824
강남구   16  17      640  2097  3337
송파구    6   3      315  2502  2348
강동구    3   4      164  1662  1517

In [41]:
crime_df["Crime_Score"] = (
    0.35 * crime_df["살인"]
  + 0.20 * crime_df["강도"]
  + 0.25 * crime_df["강간_강제추행"]
  + 0.10 * crime_df["절도"]
  + 0.10 * crime_df["폭력"]
)
crime_df

      살인  강도  강간_강제추행    절도    폭력  Crime_Score
구
종로구    2   5      209  1183  1366       308.85
중구     5   5      177  1398  1370       323.80
용산구   10   4      267  1082  1959       375.15
성동구    5   3      114   966  1029       230.35
광진구    2   6      235  1320  1307       323.35
동대문구   7   4      125  1617  1463       342.50
중랑구    5   2      143  1437  1582       339.80
성북구    3   1      146   884  1150       241.15
강북구    6   0      142   970  1171       251.70
도봉구    7   0       73   800   861       186.80
노원구    7   3      146  1508  1437       334.05
은평구    9   1      132  1517  1558       343.85
서대문구   3   0      131  1014   906       225.80
마포구    4   4      503  1471  1909       465.95
양천구    4   1      109  1518  1368       317.45
강서구    5   6      271  1670  2056       443.30
구로구    7   0      186  1572  1613       367.45
금천구    7   3      129   886   992       223.10
영등포구  11   6      284  1791  2075       462.65
동작구    1   1      180  1085  1187       272.75
관악구    4   3      338  1971  2169       500.50
서초구   10   5      364  1585  1824       436.40
강남구   16  17      640  2097  3337       712.40
송파구    6   3      315  2502  2348       566.45
강동구    3   4      164  1662  1517       360.75