# 4. ê·¸ë£¹í™” ë° ì§‘ê³„ (Grouping & Aggregation)

## í•™ìŠµ ëª©í‘œ
- ë°ì´í„°ë¥¼ íŠ¹ì • ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹í™”í•˜ëŠ” `groupby` ì´í•´í•˜ê¸°
- ê·¸ë£¹ë³„ í†µê³„ëŸ‰(í‰ê· , í•©ê³„ ë“±) ê³„ì‚°í•˜ê¸° (`agg`)
- í”¼ë²— í…Œì´ë¸”(`pivot_table`) ìƒì„±í•˜ê¸°

In [ ]:
import pandas as pd
import numpy as np

# ì‹¤ìŠµìš© ë°ì´í„°: íšŒì‚¬ ì§ì› ë°ì´í„°
data = {
    'Department': ['HR', 'Engineering', 'Engineering', 'HR', 'Sales', 'Sales', 'Engineering'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Salary': [5000, 7000, 8000, 5500, 6000, 6500, 7500],
    'Years': [2, 5, 7, 3, 4, 4, 6]
}
df = pd.DataFrame(data)
display(df)

## ğŸ“š 1. GroupBy ê¸°ì´ˆ

`groupby`ëŠ” **Split-Apply-Combine** ì „ëµì„ ë”°ë¦…ë‹ˆë‹¤.
1.  **Split**: ë°ì´í„°ë¥¼ ê¸°ì¤€ì— ë”°ë¼ ë‚˜ëˆ”
2.  **Apply**: ê° ê·¸ë£¹ì— í•¨ìˆ˜ ì ìš© (í‰ê· , í•© ë“±)
3.  **Combine**: ê²°ê³¼ë¥¼ ë‹¤ì‹œ í•©ì¹¨

In [ ]:
# ë¶€ì„œë³„ í‰ê·  ì—°ë´‰
dept_mean = df.groupby('Department')['Salary'].mean()
print("ë¶€ì„œë³„ í‰ê·  ì—°ë´‰:")
print(dept_mean)

# ë¶€ì„œë³„ ì§ì› ìˆ˜
dept_count = df.groupby('Department')['Employee'].count()
print("\në¶€ì„œë³„ ì§ì› ìˆ˜:")
print(dept_count)

## ğŸ“š 2. ë‹¤ì¤‘ ì§‘ê³„ (`agg`)

ì—¬ëŸ¬ í†µê³„ëŸ‰ì„ í•œ ë²ˆì— ê³„ì‚°í•  ë•Œ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [ ]:
# ë¶€ì„œë³„ ì—°ë´‰ì˜ í‰ê· , í•©ê³„, ìµœì†Œ, ìµœëŒ€ê°’
dept_stats = df.groupby('Department')['Salary'].agg(['mean', 'sum', 'min', 'max'])
print("ë¶€ì„œë³„ ì—°ë´‰ í†µê³„:")
display(dept_stats)

## ğŸ“š 3. í”¼ë²— í…Œì´ë¸” (Pivot Table)

ì—‘ì…€ì˜ í”¼ë²— í…Œì´ë¸”ê³¼ ë™ì¼í•œ ê¸°ëŠ¥ì…ë‹ˆë‹¤. ë°ì´í„°ë¥¼ ì¬êµ¬ì¡°í™”í•˜ì—¬ ìš”ì•½í•©ë‹ˆë‹¤.

In [ ]:
# ë¶€ì„œë³„ í‰ê·  ì—°ë´‰ê³¼ ì—°ì°¨(Years)ë¥¼ í”¼ë²— í…Œì´ë¸”ë¡œ ë³´ê¸°
pivot = df.pivot_table(index='Department', values=['Salary', 'Years'], aggfunc='mean')
print("í”¼ë²— í…Œì´ë¸” (í‰ê· ):")
display(pivot)

## ğŸ”¥ ì—°ìŠµ ë¬¸ì œ

1. ë¶€ì„œ(`Department`)ë³„ë¡œ ì—°ì°¨(`Years`)ì˜ ìµœëŒ€ê°’ì„ êµ¬í•˜ì„¸ìš”.
2. ë¶€ì„œë³„ë¡œ ì—°ë´‰(`Salary`)ì˜ í•©ê³„ë¥¼ êµ¬í•˜ê³ , í•©ê³„ê°€ ë†’ì€ ìˆœì„œëŒ€ë¡œ ì •ë ¬í•˜ì„¸ìš”.

In [ ]:
# ì •ë‹µ ì½”ë“œ

# 1. ë¶€ì„œë³„ ì—°ì°¨ ìµœëŒ€ê°’
max_years = df.groupby('Department')['Years'].max()
print("ë¶€ì„œë³„ ìµœëŒ€ ì—°ì°¨:")
print(max_years)

# 2. ë¶€ì„œë³„ ì—°ë´‰ í•©ê³„ ë° ì •ë ¬
salary_sum = df.groupby('Department')['Salary'].sum().sort_values(ascending=False)
print("\në¶€ì„œë³„ ì—°ë´‰ í•©ê³„ (ë‚´ë¦¼ì°¨ìˆœ):")
print(salary_sum)